body {
    font-family: Arial, sans-serif;
    background-image: url("assets/graphics/subtle-prism.svg");
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header {
    background-color: #333;
    color: white;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

h1 {
    text-align: center;
}

Button:hover {
    background-color:#408c99;
}
Button:active {
    position:relative;
    top:1px;
}

#chooseRaceDivDesktop {
    display: flex;
    justify-content: space-around;  /* Horizontal zentrieren */
    align-content: flex-start;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
}

#chooseRaceDivDesktop input[type="radio"] {
    display: none;
}

#chooseRaceDivDesktop input[type="radio"]:checked + label > img{
    border: 3px solid deepskyblue;
    border-radius: 50px;
    background-color: deepskyblue;
}

#chooseRaceDivDesktop label img {
    width: 50px;
    height: auto;
    border-radius: 50px;
    flex-wrap: wrap;
    cursor: pointer;
}

#mainDiv {
    margin-top: 20px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#mainDiv > div {
    margin-top: 20px;
    width: 45%;
    min-width: 300px;
    padding-left: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    font-family: Arial, sans-serif;
    color: #333;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    color: white;
}

#settingsGear {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 4;
    cursor: pointer
}

.settingsDiv {
    background-color: #333333;
    height: 85%;
    width: 85%;
    margin: 5%;
    border-radius: 30px;
    padding: 2.5%;
    cursor: default;
}

Button {
    box-shadow: 0px 10px 14px -7px #276873;
    background-color:#599bb3;
    border-radius:8px;
    border: none;
    display:inline-block;
    cursor:pointer;
    color: white;
    font-weight:bold;
    padding:5px 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
}

@media only screen and (min-width: 768px) {
    .chooseRaceBtn > label {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 60px;
    }
}


#chooseRaceDivMobile{
    position: fixed;
    align-self: start;
    z-index: 2;
    width: 80%;
    height: 100%;
    background-color: #333333;
    border-right: 3px solid deepskyblue;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    color: white;
}

#swapRaceDivVisMobileBtn{
    display: none;
}

@media only screen and (max-width: 768px) {
    #chooseRaceDivDesktop {
        display: none;
    }

    .chooseRaceBtn > label {
        display: inline-block; /* Damit das Label die Größe annehmen kann */
        height: 15vw; /* Höhe basierend auf der Viewport-Breite */
        width: 15vw; /* Breite basierend auf der Viewport-Breite */
        max-width: 100px; /* Maximale Größe für große Bildschirme */
        max-height: 100px; /* Maximale Größe für große Bildschirme */
        position: relative; /* Für die Positionierung des Bildes */
        overflow: hidden; /* Verhindert, dass das Bild über das Label hinausragt */
        border-radius: 10%; /* Macht das Label kreisförmig */
    }

    .chooseRaceBtn label img {
        position: absolute; /* Positioniert das Bild absolut innerhalb des Labels */
        top: 0;
        left: 0;
        width: 100%; /* Füllt die gesamte Breite des Labels aus */
        height: 100%; /* Füllt die gesamte Höhe des Labels aus */
        object-fit: cover; /* Stellt sicher, dass das Bild das Label vollständig abdeckt */
        border-radius: 20%; /* Macht das Bild kreisförmig */
    }

    .chooseRaceBtn > p {
        font-size: 5vw; /* Schriftgröße basierend auf der Viewport-Breite */
        margin-left: 10px; /* Abstand zwischen Bild und Text */
    }

    .chooseRaceBtn {
        display: flex;
        align-items: center;
        width: 96%;
        height: 8%;
        border-bottom: 1px solid #000000;
        padding: 3px 8px;

    }

    #chooseRaceDivMobile input[type="radio"] {
        display: none;
    }

    .chooseRaceBtn:has(input[type="radio"]:checked) {
        border-top: 3px solid deepskyblue;
        border-bottom: 3px solid deepskyblue;
        border-radius: 3px;
    }

    #swapRaceDivVisMobileBtn{
        display: block;
        position: absolute;
        top: 5px;
        left: 10px;
        z-index: 1;
        color: white;
    }
}